@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width: 600px){
    
form li{
    display: grid;
    grid-template-columns: 100px 70px 70px;
    text-align: center;
    gap: 20px;
    margin-bottom: 40px;
    text-transform: uppercase;
}
}

@media only screen and (min-width: 768px)
{form li{
    display: grid;
    grid-template-columns: 200px 100px 100px;
    text-align: center;
    gap: 50px;
    margin-bottom: 40px;
    text-transform: uppercase;
}
}
form li span:nth-of-type(2){
    @apply bg-[#FF6000] text-white rounded-xl px-2 py-1 md:px-3 cursor-pointer text-center
}
form li span:nth-of-type(3){
    @apply bg-[#454545] text-white rounded-xl px-3 py-1 md:px-3 cursor-pointer text-center
}

form input{
    @apply w-[300px] md:w-[500px] h-[30px] py-2 pl-2 rounded-xl justify-center items-center border-solid border-2 border-[#454545]
}
